**/.git
**/.idea
**/migrations
**/management
**/.pycache
static/**
!static/**/
**/static.backup
*.pyc
*.save
db.sqlite3
manage.py
hifrequencies/settings.py
hifrequencies/settings.dev.py
!static/js/hifrequencies.js
!static/css/hifrequencies.css
